* {
    box-sizing: border-box;
}

/* 
------------------------------------------------------------------------------
BASE STYLING
------------------------------------------------------------------------------
*/
img {
    width: 100%;
    margin: 2em auto;
}

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    background-color: ghostwhite;
}

footer {
    display: flex;
    flex-direction: column;
}

content{
    display: flex;
    justify-content: center;
    padding: 2em;
    margin: 0 auto;
}

header {
    
}

a{
    
 }

a:link{
    text-decoration: none;
    color: black;
}

a:hover {
    color: cadetblue;
    
}

a:visited {
    color:firebrick;
}

buttons {
    
}
/* 
------------------------------------------------------------------------------
MAIN STYLING
------------------------------------------------------------------------------
*/
navigation {
    
}
nav {
    
    
}

nav ul {
    
   
}

ul li {
    
  
   
}


#student_name {
 display: flex;
 justify-content: center;
 margin-bottom: 0;
 
}


.content-heading {
    text-align: center;
}



/* 
------------------------------------------------------------------------------
MEDIA QUERIES
------------------------------------------------------------------------------
*/













































