* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}


/* 
------------------------------------------------------------------------------
BASE STYLING
------------------------------------------------------------------------------
*/
img {
    width: 100%;
    margin: 2em auto;
    padding: 0;
}

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    margin: 0 auto;
    max-width: 1024px;
    
}

main {
    padding: 0;
    margin-top: 1rem;

}
footer {
    display: flex;
    flex-direction: column;
    background-color:whitesmoke;
    margin: 0 auto;
    padding: 1em;
    

}

#contact-border {
    border-bottom: 1px solid lightgray;
    background-color: whitesmoke;
}

content{
    display: flex;
    justify-content: center;
    padding: 2em;
    
    
}

header {
    padding: 1em;
    background-color: whitesmoke;

}

.nav-pic { 
    padding: 3em;
    margin: 0 0;
    padding-bottom: 0;
}

p {
    font-size: 1.25em;
}

a{
    color:dodgerblue;
 }

a:link{
    text-decoration: none;
    color: black;
}

a:hover {
    color: gold;
    
}

#contact {
    background-color: whitesmoke;
    margin: 0;
   padding: 3em;
}

a:focus {
    color:aquamarine ;
}

section {
    padding-top: 0; 
}

buttons {
    display: flex;
    background-color: teal;
}
/* 
------------------------------------------------------------------------------
MAIN STYLING
------------------------------------------------------------------------------
*/

h1, .nav ul {
    text-align: center;
}

nav {
justify-content: space-around;    
}

nav ul {
   display: flex;
   flex-direction: column;
   padding-left: 0;
   margin: 0;
  
   
}

ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: white;
    margin:  3px 0;
    padding: 0.5em 1em;
    color: black;
    font-weight: bold;

}

#student_name {
 display: flex;
 justify-content: center;
 margin: 0 auto;
 margin-bottom: .5em;
}



.content-heading {
    text-align: center;
    /* padding-top: 4rem; */
    margin: 0 auto;
}


#intro {
    text-align: center;
    padding: 1em;
    margin: 0;
}

h2 {
    margin-top: 0;
}
/* 
------------------------------------------------------------------------------
MEDIA QUERIES
------------------------------------------------------------------------------
*/

@media screen and (min-width: 768px) {

    nav ul {
        display: flex;   
        flex-direction: row;
        justify-content: center;
        padding-left: 0;
        margin: 0;    
        
     }

     
    nav li{
        background-color: transparent;
}

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        margin-top: 0; 
      }

      #student_name{
        margin: 0;
        padding: 1em;
        
      }


      #intro_paragraph_image {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    } 

      #intro {
        padding-left: 1rem;
        justify-content: left;
    }

     .nav-pic { 
        padding-top: 1.25em;
        padding-right: 1em;
    } 

     .main-content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
       
    }
     #portfolio {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-top: 1.5rem;
        padding: 1rem;
    }
     section {
        width: 50%;
        margin: 0 auto;
        padding: 0 1em;

    }

    header {
        padding-bottom: 3rem;
    }

    #footer-nav {
        display: none;
    }

    .mobile-footer {
        display: flex;
        justify-content: space-between;
    }

    #back-to-top {
       margin-left: auto;
    }
}

@media screen and (min-width: 1024px) {

    section {
        width: 33%;
        margin: 0 auto;
        padding: 0 1em;

    }

    nav ul {
        display: flex;   
        flex-direction: row;
        padding-left: 0;
        margin: 0;    
        
     }

     
    nav li{
        background-color: transparent;
}

    nav {
        display: flex;
        /* justify-content: space-between; */
        align-items: flex-end;
        margin-top: 0; 
      }
    

      #student_name{
        margin: 0;
        padding: 0 1rem;
        
      }

     #intro_paragraph_image {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    } 

    #intro {
        padding-left: 1rem;
    }

    .nav-pic { 
        padding-top: 1.25em;
        padding-right: 1em;
    } 

   #portfolio_container {
       display: flex;
       justify-content: center;
       flex-direction: row;
       padding: 10px;
   }
   
   #footer-nav {
       display: flex;

   }

   

   #back-to-top {
       display: none;
   }

   nav {
    width: initial;
    margin-bottom: 0;
    
    
  }

  










}